.UploadProduct-container {
  h1 {
  font-family: 'Oswald', sans-serif;
  margin-left: 40px;
  margin-top: 50px;
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #81b852,
  0 0 82px #81b852,
  }
}

.UploadProductForm-container {
  font-family: 'Oswald', sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 80px;
}

 #details {
  margin-left: 5px;
  margin-bottom: 15px;
}

#nameProduct, #collectionName {
  margin-left: 5px;
}
#price {
  margin-left: 5px;
}




.UploadProduct-form {
  width: 350px;
  height: 420px;
  margin: 10px;
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #7db34f;
  border-radius: 3px;
  background-color: rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  button {
  background-color: #81b852;
  border: 2px solid #177333;
  border-radius: 4px;
  font-family: 'Coming Soon', cursive;
  font-weight: 700;
  padding: 0px;
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  padding-left: 20px;
  padding-right: 20px;
  padding-top:5px;
  cursor: pointer
  }
  button:hover {
    box-shadow: 1px 1px #177333, 2px 2px #177333, 3px 3px #177333;
    transform: translateX(-3px);
  }
}