.Profile-container {
  h1 {
  font-family: 'Oswald', sans-serif;
  margin-left: 40px;
  margin-top: 50px;
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #81b852,
  0 0 82px #81b852,
  }
}

.manageEcommerce-container, .manageClient-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 80px;
}

.ManageProductsOptions-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 80px;
}

.manageShop-container, .manageBlog-container, .buyProducts-container, .manageProfile-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 330px;
  height: 330px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #7db34f;
  border-radius: 3px;
  background-color: rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  .ManageEcommerceImg-container, .manageClientImg-container {
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 90%;
      height: 90%;
      object-fit: contain;
    }
  }
}


.manageShopButton, .manageBlogButton, .buyProductsButton, .manageProfileButton, .logoutButton {
  background-color: #81b852;
  border: 2px solid #177333;
  border-radius: 4px;
  font-family: 'Coming Soon', cursive;
  font-weight: 700;
  padding: 0px;
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  padding-left: 20px;
  padding-right: 20px;
  padding-top:5px;
  cursor: pointer
}

.manageShopButton:hover {
  box-shadow: 1px 1px #177333, 2px 2px #177333, 3px 3px #177333;
  transform: translateX(-3px);
}
.manageBlogButton:hover {
  box-shadow: 1px 1px #177333, 2px 2px #177333, 3px 3px #177333;
  transform: translateX(-3px);
}
.buyProductsButton:hover {
  box-shadow: 1px 1px #177333, 2px 2px #177333, 3px 3px #177333;
  transform: translateX(-3px);
}
.manageProfileButton:hover {
  box-shadow: 1px 1px #177333, 2px 2px #177333, 3px 3px #177333;
  transform: translateX(-3px);
}

.logoutButton:hover {
  box-shadow: 1px 1px #177333, 2px 2px #177333, 3px 3px #177333;
  transform: translateX(-3px);
}


.logoutButton-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 60px;
}

.loginForm-container {
  font-family: 'Oswald', sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 80px;
}

.singupButton-container {
  background-color: #dfd4bc;
  border: 2px solid #b1a995;
  border-radius: 4px;
  font-family: 'Coming Soon', cursive;
  font-weight: 700;
  padding: 0px;
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  padding-left: 20px;
  padding-right: 20px;
  padding-top:5px;
  margin-top: 30px;
  cursor: pointer
}
.singupButton-container:hover {
    box-shadow: 1px 1px #b1a995, 2px 2px #b1a995, 3px 3px #b1a995;
    transform: translateX(-3px);
}

#email, #pass {
  margin-left: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.login-form {
  width: 250px;
  height: 250px;
  margin: 10px;
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #7db34f;
  border-radius: 3px;
  background-color: rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  button {
  background-color: #81b852;
  border: 2px solid #177333;
  border-radius: 4px;
  font-family: 'Coming Soon', cursive;
  font-weight: 700;
  padding: 0px;
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  padding-left: 20px;
  padding-right: 20px;
  padding-top:5px;
  cursor: pointer
  }
  button:hover {
    box-shadow: 1px 1px #177333, 2px 2px #177333, 3px 3px #177333;
    transform: translateX(-3px);
  }
}