.carousel1, .carousel2, .carousel3, .carousel4 {
  height: 200px;
  color: black;
  background: #7db34f;
  img {
    width: 80%;
    height: 80%;
    margin:20px;
    margin-left: 140px;
    object-fit: contain
  }
};

