.spiner-container {
    height: 50vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

.spiner {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 10px solid rgba(0, 0, 0, 0.3);
    border-left-color: #7db34f;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}