.UploadPublication-container {
  h1 {
  font-family: 'Oswald', sans-serif;
  margin-left: 40px;
  margin-top: 50px;
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #81b852,
  0 0 82px #81b852,
  }
}