.productsByCollection-container {
  h1 {
  font-family: 'Oswald', sans-serif;
  margin-left: 40px;
  margin-top: 50px;
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #81b852,
  0 0 82px #81b852,
  }
}

.CollectionProductsCards-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 80px;
}